{% extends 'web/base.html' %}
{% load csstags %}
{% block content %}

<section id="cd-timeline" class="cd-container">
          {% for result in messages %}
          <div class="cd-timeline-block">
      			<div class="cd-timeline-img cd-movie">
      				<img src="/media/img/email.svg" alt="Picture">
      			</div> <!-- cd-timeline-img -->

      			<div class="cd-timeline-content">
      				<h2>{{result.title}}</h2>
      				<p>{{ result.message|safe }}</p>
      				<span class="cd-date">{{result.date}}</span>
      			</div> <!-- cd-timeline-content -->
      		</div> <!-- cd-timeline-block -->

          {% endfor %}
   </section>

{% if messages.has_other_pages %}
<ul class="pagination">
{% if messages.has_previous %}
  <li><a href="?page={{ messages.previous_page_number }}">&laquo;</a></li>
{% else %}
  <li class="disabled"><span>&laquo;</span></li>
{% endif %}
{% for i in messages.paginator.page_range %}
  {% if messages.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
{% endfor %}
{% if messages.has_next %}
  <li><a href="?page={{ messages.next_page_number }}">&raquo;</a></li>
{% else %}
  <li class="disabled"><span>&raquo;</span></li>
{% endif %}
</ul>

{% endif %}
{% endblock %}
